# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PyTest
# =========================
.pytest_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# ML Models
# =========================
dataset/
saved_models/
checkpoints/
mlruns/
mlflow.db
registry/

# =========================
# Temporary Files
# =========================
*.tmp
*.bak

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db
