# ===========================
# Machine Learning
# ===========================
--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
numpy
pandas
scikit-learn

# ===========================
# API
# ===========================
fastapi
uvicorn

# ===========================
# Testing
# ===========================
pytest
httpx

# ===========================
# Code Quality
# ===========================
black==25.1.0
ruff

# ===========================
# Configuration
# ===========================
pyyaml

pillow
python-multipart
mlflow
pydantic-settings>=2.0.0
